* {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

body {
  width: 25%;
  margin: 0 auto;
  margin-top: 50px;
}

.menu,
.detail-list ul {
  border-radius: 5px;
  background-color: #f75040;
}

.menu {
  padding: 15px;
}

p,
a {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.dropdown-icon {
  position: relative;
  left: 80%;
  bottom: 1.5em;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: 20px 15px 0 15px;
}


.dropdown-icon:hover + .detail-list {
  display: block;    
}

.detail-list {
  display: none;     
}

.detail-list::before {
  content: "";
  display: block;
  position: relative;
  left: 80%;  
  width: 0;
  height: 0;
  border-style: solid;
  border-color:  transparent transparent #f75040 transparent;
  border-width: 0 15px 20px 15px;
} 

.detail-list ul {
  line-height: 1.5em;
  list-style-type: none;
}

.detail-list li{
  padding: 0.25em 0.25em 0.25em 2em;
}

.detail-list .like,
.detail-list .favorites {
  border-bottom: 2px solid #f87e6d;
}

.like,
.favorites,
.discuss {
  background-image: url(../Images/icon.png);
  background-size: 5em;
  background-repeat: no-repeat;
}

.like {
  background-position: 0.5em -1.2em;
}

.favorites {
  background-position: -1.65em 0.5em;
}

.discuss {
  background-position: 0.5em 0.5em;
}

.discuss p {
  background-color: #f75040;
}
